openapi: 3.2.0
info:
  title: Trend API - 1.28.31 Shipment API
  description: OpenAPI documentation for the Trend NestJS API. For additional engineering documentation, visit The Trend Engineering Wiki
  version: 1.28.31
  contact: {}
servers:
- url: https://api.trend.io
  description: 'Production Trend API (host serving /docs-json; root returns "Success! trend-api Version: 1.28.31")'
security:
- access-token: []
tags:
- name: Shipment
paths:
  /shipment/events:
    post:
      operationId: ShipmentController_shipmentEvents
      parameters: []
      responses:
        '201':
          description: ''
      tags:
      - Shipment
      security:
      - {}
      summary: Shipment controller shipment events
      x-summary-source: derived
  /shipment/create:
    post:
      operationId: ShipmentController_createShipment
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShipmentDto'
      responses:
        '201':
          description: ''
      tags:
      - Shipment
      summary: Shipment controller create shipment
      x-summary-source: derived
  /shipment/update:
    patch:
      operationId: ShipmentController_updateShipment
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateShipmentDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Shipment
      summary: Shipment controller update shipment
      x-summary-source: derived
components:
  schemas:
    UpdateShipmentDto:
      type: object
      properties:
        partnershipId:
          type: string
        nonShippable:
          type: boolean
        trackingNumber:
          type: string
        carrierCode:
          type: string
        shipmentId:
          type: string
      required:
      - partnershipId
      - nonShippable
      - shipmentId
    ShipmentDto:
      type: object
      properties:
        partnershipId:
          type: string
        nonShippable:
          type: boolean
        trackingNumber:
          type: string
        carrierCode:
          type: string
      required:
      - partnershipId
      - nonShippable
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
    admin-api-key:
      type: apiKey
      in: header
      name: trend-api-key
