openapi: 3.2.0
info:
  title: Trend API - 1.28.31 Creator Portfolio API
  description: OpenAPI documentation for the Trend NestJS API. For additional engineering documentation, visit The Trend Engineering Wiki
  version: 1.28.31
  contact: {}
servers:
- url: https://api.trend.io
  description: 'Production Trend API (host serving /docs-json; root returns "Success! trend-api Version: 1.28.31")'
security:
- access-token: []
tags:
- name: Creator Portfolio
paths:
  /creator/portfolio/{username}:
    get:
      operationId: PortfolioController_getCreatorPortfolio
      parameters:
      - name: username
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PortfolioDto'
      tags:
      - Creator Portfolio
      security:
      - {}
      summary: Portfolio controller get creator portfolio
      x-summary-source: derived
  /creator/portfolio/add:
    post:
      operationId: PortfolioController_create
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortfolioDto'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
      tags:
      - Creator Portfolio
      summary: Portfolio controller create
      x-summary-source: derived
  /creator/portfolio/remove:
    delete:
      operationId: PortfolioController_remove
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortfolioDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PortfolioDto'
      tags:
      - Creator Portfolio
      summary: Portfolio controller remove
      x-summary-source: derived
  /creator/portfolio/influencer/remove/{userId}:
    delete:
      operationId: PortfolioController_removeInfluencerPortfolioItem
      parameters:
      - name: userId
        required: true
        in: path
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortfolioDto'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PortfolioDto'
      tags:
      - Creator Portfolio
      security:
      - admin-api-key: []
      summary: Portfolio controller remove influencer portfolio item
      x-summary-source: derived
components:
  schemas:
    PortfolioDto:
      type: object
      properties:
        url:
          type: string
        type:
          type: string
          enum:
          - image
          - video
      required:
      - url
      - type
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
    admin-api-key:
      type: apiKey
      in: header
      name: trend-api-key
