openapi: 3.2.0
info:
  title: Trend API - 1.28.31 Upload API
  description: OpenAPI documentation for the Trend NestJS API. For additional engineering documentation, visit <a href="https://trendio.notion.site/Trend-Engineering-1ade0c83fcf741a1acb45b73282caf4f" target="_blank"> The Trend Engineering Wiki</a>
  version: 1.28.31
  contact: {}
servers:
- url: https://api.trend.io
  description: 'Production Trend API (host serving /docs-json; root returns "Success! trend-api Version: 1.28.31")'
security:
- access-token: []
tags:
- name: Upload
paths:
  /upload/pre-signed-url:
    post:
      operationId: UploaderController_getPresignedUrl
      parameters:
      - name: uploadType
        required: true
        in: query
        schema:
          enum:
          - portfolio
          - profilePicture
          - contentSubmission
          - thumbnail
          - campaign
          type: string
      - name: fileName
        required: true
        in: query
        schema:
          type: string
      - name: creatorId
        required: false
        in: query
        schema:
          type: string
      - name: influencerUID
        required: false
        in: query
        schema:
          type: string
      - name: contentId
        required: false
        in: query
        schema:
          type: string
      - name: brandId
        required: false
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresignedUrlResponseDto'
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresignedUrlResponseDto'
      tags:
      - Upload
      security:
      - {}
  /upload/ai/pre-signed-url:
    post:
      operationId: UploaderController_getAIPresignedUrl
      parameters:
      - name: filename
        required: true
        in: query
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresignedUrlResponseDto'
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresignedUrlResponseDto'
      tags:
      - Upload
components:
  schemas:
    PresignedUrlResponseDto:
      type: object
      properties:
        signedUrl:
          type: string
        fileName:
          type: string
        fileDestinationUrl:
          type: string
      required:
      - signedUrl
      - fileName
      - fileDestinationUrl
  securitySchemes:
    access-token:
      scheme: bearer
      bearerFormat: JWT
      type: http
    admin-api-key:
      type: apiKey
      in: header
      name: trend-api-key
